<div class="container-fluid custom-container">
  <div class="wrapper">
    <div class="custom-rectangle">
      <h2 class="header-title">Términos y Condiciones</h2>
      <div>
        <ul class="terms-list">
            <li class="terms-list-item"><strong class="titulo-term">1. Registro de Usuario:</strong><br>
                El usuario deberá proporcionar información precisa y actualizada durante el proceso de registro, incluyendo su nombre y dirección de correo electrónico.
                El usuario es responsable de mantener la confidencialidad de su contraseña.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">2. Recopilación de Datos:</strong><br>
                La aplicación recopilará y almacenará el nombre y la dirección de correo electrónico del usuario con el propósito de facilitar el acceso a la aplicación y enviar comunicaciones relacionadas con el servicio.
                Si el usuario elige registrarse con su cuenta de Google, la aplicación recopilará información básica del perfil de Google, como el nombre y la dirección de correo electrónico.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">3. Uso de la Información:</strong><br>
                La información recopilada se utilizará únicamente para proporcionar y mejorar los servicios ofrecidos por la aplicación.
                La aplicación puede utilizar la dirección de correo electrónico para enviar actualizaciones, notificaciones y comunicaciones relacionadas con el servicio.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">4. Seguridad de la Información:</strong><br>
                Se implementarán medidas de seguridad razonables para proteger la información del usuario almacenada en la base de datos de Firebase.
                El usuario es responsable de mantener la confidencialidad de su información de inicio de sesión y de notificar a la aplicación cualquier uso no autorizado de su cuenta.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">5. Acceso a la Cuenta de Google:</strong><br>
                Si el usuario elige registrarse con su cuenta de Google, la aplicación accederá a la información básica del perfil proporcionada por Google. El usuario acepta compartir esta información con la aplicación.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">6. Privacidad:</strong><br>
                La aplicación respetará la privacidad del usuario y no compartirá ni venderá su información personal a terceros sin su consentimiento expreso, excepto según lo requiera la ley.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">7. Cambios en los Términos y Condiciones:</strong><br>
                La aplicación se reserva el derecho de modificar los términos y condiciones en cualquier momento. Los cambios serán notificados a los usuarios a través de la plataforma.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">8. Terminación de Cuenta:</strong><br>
                La aplicación se reserva el derecho de suspender o cancelar la cuenta de un usuario si se determina que está violando los términos y condiciones.</li>
            
            <li class="terms-list-item"><strong class="titulo-term">9. Contacto:</strong><br>
                Se proporcionará información de contacto para que los usuarios puedan comunicarse con la aplicación en caso de preguntas o inquietudes sobre los términos y condiciones.</li>
        </ul>
      </div>
    </div>
    <div class="button-container">
      <a href="/registro"><button class="custom-button">Aceptar</button></a>
    </div> 
  </div> 
</div>
