.custom-modal {
    background-color: #ef0000; /* Cambia el color de fondo del modal a gris claro */
    border: 2px solid #333; /* Agrega un borde al modal */
    padding: 20px; /* Agrega relleno al contenido del modal */
}

/* Estilos para los elementos de formulario dentro del modal */
/* Estilos para el contenedor del formulario */
/*
.form-container {
    // Esto está desactivado temporalmente.
}
*/

/* Estilos para el p-dialog con la clase custom-modal */
/*
p-dialog.custom-modal {
    // Esto está desactivado temporalmente.
}
*/

/* Estilos para los elementos con la clase field dentro de custom-modal */
/*
.custom-modal .field {
    // Esto está desactivado temporalmente.
    /*margin-bottom: 30px; // Espaciado entre campos
}
*/

/* Estilos para elementos con la clase label dentro de custom-modal */
/*
.custom-modal .label {
    // Esto está desactivado temporalmente.
}
*/

/* Estilos para elementos con la clase input dentro de custom-modal */
/*
.custom-modal .input {
    // Esto está desactivado temporalmente.
}
*/

/* Estilos para elementos con la clase textarea dentro de custom-modal */
/*
.custom-modal .textarea {
    // Esto está desactivado temporalmente.
}
*/

/* Estilos para otros elementos dentro del modal, como el botón de cierre */
/*
.custom-modal .ui-dialog-titlebar {
    // Esto está desactivado temporalmente.
}
*/


input, textarea{
    &.ng-invalid.ng-touched {
        border-color: red;

        &:focus {
            box-shadow: 0px 0px 0px 2px rgba(red, 0,1);
        }
    }
}


.p-element, .p-dialog-header, .ng-trigger, .ng-trigger-animation, .ng-tns-c4042076560-0, .p-dialog, .p-component, .p-dialog-draggable, .p-dialog-resizable, .ng-star-inserted{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.field-btn {
    display: flex; /* Establecer el contenedor como flex */
    justify-content: flex-end; /* Alinear los elementos al inicio del contenedor */
}

.control-btn {
    margin-right: 20px; /* Agregar espacio entre los botones (ajusta según tus preferencias) */
}

.btn-cancelar{
    border: none;
    padding: 8px;

}
.btn-guardar{
    border: none;
    padding: 8px;
}