.custom-modal {
    background-color: #ef0000;
    /* Cambia el color de fondo del modal a gris claro */
    border: 2px solid #333;
    /* Agrega un borde al modal */
    padding: 0;
    /* Agrega relleno al contenido del modal */
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched {
  border-color: red; 
}

.p-element,
.p-dialog-header,
.ng-trigger,
.ng-trigger-animation,
.ng-tns-c4042076560-0,
.p-dialog,
.p-component,
.p-dialog-draggable,
.p-dialog-resizable,
.ng-star-inserted {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #0000002c;
    height: 100%;
    width: 100%;
    padding-top: 0 !important;
    border-radius: 15px;
}



/* -------------------------- estilo de los botones ------------------------- */

.field-btn {
    display: flex;
    /* Establecer el contenedor como flex */
    justify-content: flex-end;
    /* Alinear los elementos al inicio del contenedor */
}

.control-btn {
    margin-right: 20px;
    /* Agregar espacio entre los botones (ajusta según tus preferencias) */
}

.btn-cancelar {
    border: none;
    padding: 8px;
    margin: 2px;
    color: #333;
    border-radius: 6px;
    background-color: rgb(230, 230, 230)
}

.btn-guardar {
    border: none;
    padding: 8px;
    margin: 2px;
    color: aliceblue;
    background-color: #03d684;
    border-radius: 6px;

}


/* --------------------------------- inputs --------------------------------- */
.inp-inputs{
    padding: 0;
    
}
.field{
    padding: 0;
    margin: 0;
}
.inp-titulo {
    width: 400px;
    border-radius: 4px;
    border: 1px solid #0000002c;

}
.inp-color{
    width: 400px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #0000002c;

}
.inp-textarea{
    width: 600px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid #0000002c;

}


.control-color{
    padding-top: 25px;
}