<p-dialog header="Nueva nota" [visible]="showModal" (onHide)="onClose.emit()" class="custom-modal">
    
    <div class="form-container">
        <form #notaForm="ngForm" (ngSubmit)="onSubmit(notaForm)">

            <div class="field">
                <label class="label">Titulo</label>
                <div class="control">
                   <input type="text" name="titulo" [ngModel]="nota.titulo" required class="input">  <!-- el required es para que el titulo sea requerido si o si -->

                </div>
            </div>
    
            <div class="field">
                <label class="label">Color</label>
                <div class="control">
                    <input type="color" class="">
                </div>
            </div>
    
            <div class="field">
                <label class="label">Body</label>
                <div class="control">
                    <textarea class="textarea" name="body" [ngModel]="nota.body"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="button" class="btn-cancelar" >Cancelar</button>
                </div>
                <div class="control">
                    <button type="submit" class="btn-guardar" [disabled]="!notaForm.valid">Guardar</button>
                </div>
            </div>


    
        </form>
    </div>

</p-dialog>
  