



<p-dialog  [visible]="showModal"  [modal]="true" (onHide)="onClose.emit()" class="custom-modal">
    <div class="form-container">
        <header style="text-align: center; padding: 5px;">Nueva nota</header>
        <form #notaForm="ngForm" (ngSubmit)="onSubmit(notaForm)">

            <div class="inp-inputs">
                
                    <label class="label"></label>
                    <div class="control-titulo">
                        <input type="text" name="titulo" [ngModel]="nota.titulo" required class="inp-titulo" placeholder="Titulo">
                        <!-- el required es para que el titulo sea requerido si o si -->
    
                    </div>
                
    
                                  
                    <div class="control-color">
                        <input type="color" class="inp-color" placeholder="Color">
                    </div>
                
    
                
                    <label class="label"></label>
                    <div class="control-textarea">
                        <textarea class="inp-textarea" name="body" [ngModel]="nota.body" placeholder="Su anotación aquí!"></textarea>
                    </div>
                
            </div>

            <div class="field-btn">
                <div class="control-btn">
                    <button type="button" class="btn-cancelar" (click)="cancelarNota()">Cancelar</button>
                </div>
                <div class="control-btn">
                    <button type="submit" class="btn-guardar" [disabled]="!notaForm.valid">Guardar</button>
                </div>
            </div>



        </form>
    </div>

</p-dialog>