<div class="container">
	<div class="row">
		<h1 class="titulo">Bienvenido administrador <>!</h1>
	</div>
	<div class="row">
		<p class="subtitulo">Lista de usuarios</p>
	</div>
	<div>
		<button>Agregar Usuario</button>
		<button>Cerrar sesión</button>
	</div>

<br>
	
	<div class="tabla-usuarios" role="region" tabindex="0">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Contraseña</th>
					<th>Rol</th>
					<th>Editar</th>
				</tr>	
			</thead>
			<tbody>
				<tr>
					<td>Tomas</td>
					<td>tomas@gmail</td>
					<td>12345</td>
					<td>Admin</td>
					<td>
						<button><i class='bx bx-edit'></i></button>
						<button><i class='bx bxs-trash'></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>


<app-navbar></app-navbar>