<div class="container">
	<div class="row">
		<h1 class="titulo">Bienvenido administrador <>!</h1>
	</div>
	<div class="row">
		<p class="subtitulo">Lista de usuarios</p>
	</div>
	<div>
		<button>Agregar Usuario</button>
		<button>Cerrar sesión</button>
	</div>

	<div role="region" tabindex="0">
		<table>
			<caption></caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Rol</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div style="margin-top:8px">Made with <a href="https://www.htmltables.io/">HTML Tables</a></div>
	</div>
</div>


<app-navbar></app-navbar>