<div class="container">
	<div class="row">
		<h1 class="titulo">Bienvenido administrador <>!</h1>
	</div>
	<div class="row">
		<p class="subtitulo">Lista de usuarios</p>
	</div>
	<div>
		<button class="agregar-usuario-btn">Agregar Usuario <i class='bx bx-plus' style="font-size: 30px;"></i></button>
		<button class="cerrar-sesion-btn">Cerrar sesión <i class='bx bx-power-off'style="font-size: 30px;"></i></button>
	</div>


	<br>

	<div class="tabla-usuarios" role="region" tabindex="0">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Contraseña</th>
					<th>Rol</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Tomas</td>
					<td>tomas@gmail</td>
					<td>12345</td>
					<td>Admin</td>
					<td>
						<div>
							<button class="editar-btn"><i class='bx bxs-edit-alt' style="font-size: 25px;"></i></button>
							<button class="eliminar-btn"><i class='bx bxs-trash' style="font-size: 20px;"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</div>


<app-navbar></app-navbar>