<body>
    <div class="container">
        <div class="col">
            <div class="columna1">
                <div class="row">
                    <div><h1><b>Bienvenido</b></h1></div>
                    <div><h3>¿Que te gustaría hacer primero?</h3></div>
                </div>
                <div class="botones">
                    <button class="btn-calendario" routerLink="/calendario">Ir a calendario</button>
                    <button class="btn-notas" routerLink="/notas">Ir a mis notas</button>
                    <button class="btn-usuario" routerLink="/usuario">Ir a mi usuario</button>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="columna2">
                <div class="rectangulo-titulo">
                    <h4>Tareas pendientes</h4>
                </div>
                <div class="rectangulo">
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                    <h6>*eventos del calendario*</h6>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="waves"></div>
    
    
    
</body>



<app-navbar></app-navbar>







