<body>
    <div class="container">
        <div class="col">
            <div class="columna1">
                <div class="imagen">
                    <img src="../../../../../assets/Logo/logo-azul.png" style="width: 200px;" alt="">
                </div>
                <div class="row">
                    <div><h1><b>¡Bienvenido!</b></h1></div>
                    <div><h3>¿Qué te gustaría hacer primero?</h3></div>
                </div>
                <div class="botones">
                    <button class="btn-calendario" routerLink="/calendario">Ir a calendario</button>
                    <button class="btn-notas" routerLink="/notas">Ir a mis notas</button>
                    <button class="btn-usuario" routerLink="/usuario">Ir a mi usuario</button>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="columna2">
                <div class="rectangulo-titulo">
                    <h4>Tareas pendientes</h4>
                </div>
                <div class="rectangulo">
                    <div style="padding: 10px;">
                        <div class="rectangle">
                            <h5>Corte de pelo de Panchito 🐶</h5>
                            <p>Dec 7, 2023</p>
                        </div>
                        <div class="rectangle1">
                            <h5>Clases de Alemán</h5>
                            <p>Dec 8, 2023</p>
                        </div>
                        <div class="rectangle2">
                            <h5>Llevar el carro al mecanico </h5>
                            <p>Dec 9, 2023</p>
                        </div>
                        <div class="rectangle3">
                            <h5>Estudiar</h5>
                            <p>Dec 9, 2023</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    
    <div class="waves"></div>
    
    
    
</body>



<app-navbar></app-navbar>







