
<div class="container-fluid text-center">
    <div class="row full-height">
        <div class="col-7">
            <div class="columna1">
                    <div class="contenido-logo">
                    <img class="imagen-logo" src="../../../../../assets/Logo/logo-azul.png" alt="">
                    <h1>Agenda tus ideas, construye tu futuro</h1>
                    <h6>Daily Task - Agenda personal</h6>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="columna2">
                <div class="rectangulo">
                    <div class="comencemos-textos">
                        <h2>¡Comencemos!</h2>
                        <h6>Ingresa a tu cuenta para acceder a las úlitmas funciones!</h6>
                    </div>
                    <p style="text-align: start;">	
                        <input [(ngModel)]="email" id="input" type="text" required />           
                        <label for="input" alt="Email" placeholder="Email"></label>
                      </p>
                    <p style="text-align: start;">	
                        <input id="input" type="password" required />                    
                        <label for="input" alt="Contraseña" placeholder="Contraseña"></label>
                    </p>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="label-check">
                            Recuerdame
                        </label>
                        <a href="" class="olv-contra">¿Olvidaste la contraseña?</a>
                    </div>


                    <div style="padding: 15px; padding-top: 30px;">
                        <button class="btn-comencemos">Iniciar sesión</button>
                    </div>

                    <div class="acceder-con">
                        <div class="linea"><div class="separator">o accede con...</div></div>             
                        <a href="URL_del_sitio_destino" class="a-google"> 
                            <img src="../../../../../assets/google-icon.png" style="width: 35px;" alt="">
                        </a>
                        <div class="ingresa-aqui"><p>¿Aún no tienes una cuenta?<a href="/registro" class="a-redirigir-registro">¡Registrate!</a></p></div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>