<div class="container">
    <div class="row">
      <div class="col-md-10 columna1 d-flex align-items-center">
        <div class="rectangulo">
            <div style="padding: 1px;">
                <div class="rectangle">
                    <h5>Corte de pelo de Panchitoo 🐶</h5>
                    <p>10 - 11 am</p>
                </div>
                <div class="rectangle1">
                    <h5>Llevar el carro al mecánico 🚗</h5>
                    <p>15 - 16 pm</p>
                </div>
                <div class="rectangle2">
                    <h5>Clases de cocina 🧑🏽‍🍳 </h5>
                    <p>16 - 17 pm</p>
                </div>
                <div class="rectangle3">
                    <h5>Cumpleaños de Gero 🎉</h5>
                    <p>21 - 23 pm</p>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-2 columna2 d-flex justify-content-start align-items-start">
        <button class="btn btn-primary boton">agregar</button>
      </div>
    </div>
  </div>
  
<app-navbar></app-navbar>

