/* --------------------------------- formato -------------------------------- */
.container {
  padding-left: 5px;
  overflow: hidden;
  height: 100vh;
}
.columna1 {
  padding: 50px;
}
.columna2 {
  padding-top: 50px;
}
.rectangulo {
  border: 4px solid #000;
  border-radius: 80px;
  border-color: transparent;
  width: 100%;
  height: 650px;
  padding: 20px;
}
.rectangulo-titulo {
  margin-bottom: 30px;
  color: #3A4C94;
  background-color: transparent;
  display: flex;
  height: 14px;
  margin-left: 40px;
}

/* ------------------------------ boton e input ----------------------------- */

.barra-busqueda-input {
  width: 88%;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 15px;
  font-size: 16px;
  padding: 2px;
  padding-inline: 16px;
  margin-top: 5px;
}

.btn-agregar{
  background: red;
  border: none;
  height: 40px;
  width: 40px;
}

.bx-plus{
  font-size: 34px; 
  color: #3A4C94;
  
}

/* -------------------- scroll del container de las notas ------------------- */
.notas-container {
  height: 510px; /*(510px)*/
  scroll-behavior: smooth;
  overflow-y: auto; 
  border-radius: 20px;

}

.notas-container::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

.notas-container::-webkit-scrollbar-thumb {
  background-color: #3A4C94; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados del pulgar */
}

.notas-container::-webkit-scrollbar-track {
  background-color: #738CCF; /* Color de fondo de la barra de desplazamiento */
  border-radius: 6px;
  padding: 2px;
}
.notas-container::-webkit-scrollbar-thumb:hover {
  background-color: #3A4C94; /* Color del "pulgar" de la barra de desplazamiento */

}

