body {
  padding-left: 8%;
  overflow: hidden;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1967D2;
  border: 0 solid transparent;
  border-radius: 15px;
  margin-bottom: 30px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}

.modal-title {
  color: #000;
  font-size: 24px;
}

.modal-body {
  padding: 1rem;
}

.form-label {
  font-weight: bold;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}


.btn-close {
  color: #000;
  opacity: 0.5;
}

.h5-titulo{
  color: #ffffff;
}

.p-body {
  color: #ffffff;
}

.container-notas{
  padding-inline: 30px;
  padding-top: 10px;
  overflow-y: auto;
}


/* --------- contenedor del titulo y el boton para agregar una nota --------- */
.header-cont{
  padding-left: 2%;
  padding-top: 3%;
}

.titulo-notas{
  color: #3A4C94;
  cursor: pointer;
}

.btn-agregarnota{
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: #3A4C94;
  padding-right: 30px;
  padding-top: 6px;
}
.bx-plus{
  font-size: 20px;
}




/* ----------------- hacer que los botones se muestren cuando paso el mouse encima del card ---------------- */
.card {
  position: relative;
}

.card .acciones {
  display: none;
  position: absolute;
  justify-content: end;
  top: 10px;
  right: 10px;
}

.card:hover .acciones {
  display: flex;
}

.acciones {
  border-radius: 5px;
  padding: 5px;
}

.acciones button {
  margin-left: 5px;
}


/* ----------------- hacer el efecto de escalado en las card ---------------- */
.card-body{
  transition: transform 0.3s ease;

}
.card-body:hover{
  transform: scale(1.05);
}

/* ------------------ estilos y animaciones de los botones ------------------ */

.btn-editar{
  border: none; 
  background-color: transparent; 
  color: #ffffff;
  font-size: 25px;
  transition: transform 0.2s ease;
}

.btn-borrar{
  border: none; 
  background-color: transparent; 
  color: #ffffff;
  font-size: 25px;
  transition: transform 0.2s ease;
}

.btn-editar:hover{
  transform: scale(1.2);
}

.btn-borrar:hover{
  transform: scale(1.2);
}

