<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
/>
<body>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#AgregarNotaModal"
    data-whatever="@mdo"
  >
    Crear una nueva nota
  </button>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-body">
          <h5>Notas títulos</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quo
            provident a laboriosam officiis est, magni, ut delectus ex corrupti
            neque consequatur nam expedita qui dolorum incidunt esse aperiam
            deleniti.
          </p>

          <div class="d-flex align-items-center">
            <span class="mx-2">
              <i class="bi bi-pen"></i>
            </span>
            <span class="mx-2">
              <i class="bi bi-trash"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="AgregarNotaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
