<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="tareas-pendientes-div">
                <p class="tareas-pendientes">Tareas pendientes</p>
            </div>
            
            <div class="rectangulo" style="padding-top: 10px;">
                <div *ngFor="let event of events">
                  <div class="evento-pend" [style.background-color]="event.color">
                    <div class="info" style="padding: 15px; color: aliceblue;">
                      <h1 style="font-size: 25px;">{{event.title}}</h1>
                      <p>{{event.start | date:'mediumDate'}}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-6 calendario-div">
            <div style="width: 700px;">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>





<app-modal></app-modal>
<app-navbar></app-navbar>