.main-content {
    margin-left: 110px; 
  }
  
  .shifted-content {
    margin-left: 250px; /* Ajusta el valor según el ancho de tu barra lateral */
    transition: margin-left 0.3s ease; /* Agrega una animación de transición suave */
  }