.container{
  padding-left: 5%;
}

.rectangulo{
  /* border: 4px solid #3A4C94; */
  height: 100%;
  width: 100%;
  /* border-radius: 10%; */
  margin-left: 2%;
  max-height: 500px;
  overflow-y: scroll;
  /* margin-top: 11%; */  
}


@media (max-width: 1440px) and (max-height: 401px) {
  .order-md-1 {
    order: 2;
  }

  .order-md-2 {
    order: 1;
  }
}
@media (max-width: 576px) {
  .calendario-div {
    width: 100%;
    max-width: none;
  }

  .evento-pend .info h1 {
    font-size: 1.2em;
  }
}


.rectangulo::-webkit-scrollbar{
  width: 6px;
}
.rectangulo::-webkit-scrollbar-thumb{
  height: 60px;
}
.rectangulo::-webkit-scrollbar-thumb{
  background: #3a4c94;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.rectangulo::-webkit-scrollbar-track{
  background: #7da5dd;
  border: 0px none #ffffff;
  border-radius: 31px;
  
}
.rectangulo::-webkit-scrollbar-corner {
  background: transparent;
}



.tareas-pendientes{
  font-size: 25px;
}

.tareas-pendientes-div{
  margin-top: 8%;
  margin-left: 11%;
}

.calendario-div{
  margin-top: 4%;

}

.evento-pend{
  margin: 3%;
  background-color: #4b6dc5;
  border-radius: 35px;
  
}

.evento-pend .info h1 {
  font-size: 1.5em; /* unidades em para hacer que el tamaño de fuente sea relativo */
}