
<div class="container-fluid text-center">
    <div class="row full-height">
        <div class="col-7">
            <div class="columna1">
                    <div class="contenido-logo">
                    <img class="imagen-logo" src="../../../../../assets/Logo/logo-azul.png" alt="">
                    <h1>Agenda tus ideas, construye tu futuro</h1>
                    <h6>Daily Task - Agenda personal</h6>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="columna2">
                <div class="rectangulo"> <!-- Trabajo por DENTRO del rectangulo -->
                    <div class="comencemos-textos">
                        <h2>¡Comencemos!</h2>
                        <h6>Crea una cuenta para obtener todas las funciones</h6>
                    </div>

                    <p style="text-align: start;">    
                        <input [(ngModel)]="username"  id="input" type="text" required />              
                        <label for="input" alt="Nombre de usuario" placeholder="Nombre de usuario"></label>
                      </p>
                      <p style="text-align: start;">    
                        <input [(ngModel)]="email" id="input" type="text" required />              
                        <label for="input" alt="Email" placeholder="Email"></label>
                      </p>
                      <p style="text-align: start;">    
                        <input [(ngModel)]="password" id="input" type="password" required />              
                        <label for="input" alt="Contraseña" placeholder="Contraseña"></label>
                      </p>
                      <p style="text-align: start;">    
                        <input id="input" type="password" required />              
                        <label for="input" alt="Confirmar contraseña" placeholder="Confirmar contraseña"></label>
                      </p>
                    
                    
                    

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="label-check">
                            Al registrarse usted está de acuerdo con nuestros <a href="/terminos" class="a-terminos">terminos y condiciones</a>
                        </label>
                    </div>

                    <div style="padding: 10px;">
                        <button class="btn-comencemos" (click)="register()">Empecemos!</button>
                    </div>
                    

                    <div class="acceder-con">
                        <div class="linea"><div class="separator">o registrate con...</div></div>             
                        <a href="URL_del_sitio_destino" class="a-google"> <!-- Aquí irá el registro con google -->
                            <img src="../../../../../assets/google-icon.png" style="width: 35px;" alt="">
                        </a>


                        
                        <div class="ingresa-aqui"><p>Ya tienes una cuenta? <a href="/login" class="a-redirigir-login"> ¡Ingresa Aquí!</a></p></div>          
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>

