.container{
    padding-left: 5px;

}

.imagen1{
    position: fixed;
}


/*{
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
*/
.row-1{

}