.container{
    padding-left: 5px;

}

.imagen-1{
    margin-top: 15px;
    width: 120%;
    min-height: 50%;
}

.texto-1{
    color: #3a4c94;
    margin-right: 30px;
    padding-top: 35px;
     
}

.row-1{

}