<div class="container">
    <div class="row" style="margin: 60px;">
        <div class="col-md-2" style="padding-right: 40px;">
            <img class="imagen-1" style="border-radius: 100%;" src="../../../../../assets/Ellipse 7.png" alt="">
        </div>

        <div class="col-md-10">
            <h1 class="texto-1">Ingeniero Lucan Quiñiñir</h1> <br>
            <p class="texto-2">"Lucan, ingeniero apasionado. Innovó en la construcción sostenible, electrónica <br>
                médica y robótica educativa. Su talento impulsa el futuro." </p> <i class='bx bxs-edit-alt btn-editar'></i>
        </div>
    </div>


    <div class="row-2 rectangle-row">
        <div class="rectangle" style="border: 5px solid #808080;">
            <a (click)="toggleMostrarBotones()" class="texto-3">Editar</a>
        

            <div class="botones" *ngIf="mostrarBotones">
                <button class="boton1" routerLink="/usuario">Guardar</button>
                <button class="boton2" routerLink="/usuario" style="border: 5px solid #ff0000; color: #ff0000;">Descartar Cambios</button>
            </div>
        </div>






        <app-navbar></app-navbar>