<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <header>
            <div class="image-text">
                <span>
                    <img src="/src/assets/logo azul.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">Daily Task</span>
                    <span class="profession">Prácticas</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
    </nav>
</body>
</html>