<div class="modal fade" id="ejemploModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #626262;">Nuevo evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <input type="text" id="titulo" class="form-control" placeholder="titulo" autocomplete="off"><br>
        <input type="time" id="tiempo" class="form-control" value="12:00" autocomplete="off"><br> <!-- el value nos ayudara a que el date muestre la fecha segun donde el usuario haya hecho click -->
        <input type="color" class="form-control" value="#3A4C94" autocomplete="off">
      </div>

      <div class="modal-footer">
        <button type="button" id="cancelarbtn" class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" id="guardarbtn" class="btn-guardar">Guardar</button>
      </div>
    </div>
  </div>
</div>

