<div class="nota-ind">
  <div class="nota-ind-titulo">
      <h5>Corte de pelo de Panchitoo 🐶</h5>
  </div>
  <div class="nota-ind-contenido">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus facilis ducimus libero harum laudantium quas minima. Nobis impedit tenetur, voluptas doloremque hic delectus adipisci aperiam consectetur nostrum? Omnis, eveniet voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, animi. Rerum magnam, illo id itaque eius sunt ipsam voluptatem harum, consectetur voluptate nisi omnis. Cumque ex iusto temporibus incidunt suscipit!</p>                        
      <div class="desvanecer-contenido"></div>
  </div>
  <div class="x-btn">
      <button class="x-btn-style"><i class='bx bx-x'></i></button>
  </div>

</div>
