<div class="nota-ind" (click)="toggleExpanding()">
  
  <a >
    <div class="nota-ind-titulo">
      <h5>{{titulo}}</h5>
    </div>
  
    <div #notaContenido class="nota-ind-contenido">
      <div class="contenido-expandido" *ngIf="expanded">
        <p>{{contenido}}</p>
      </div>
      <div #desvanecer class="desvanecer-contenido"></div>
    </div>
  </a>

  <div class="x-btn" (click)="enBotonXClick()">
    <button class="x-btn-style"><i class='bx bx-x'></i></button>
  </div>
  <a [routerLink]="link" style="all:unset">
    <div class="edit-btn">
      <button class="edit-btn-style" (click)="enBotonEditarClick()"><i class='bx bxs-pencil'></i></button>
    </div>
  </a>
  
</div>