<div class="nota-ind">
  
  <a [routerLink]="link" style="all:unset">
    <div class="nota-ind-titulo">
      <h5>{{titulo}}</h5>
    </div>
  
    <div #notaContenido class="nota-ind-contenido">
      <p>{{contenido}}</p>
      <div #desvanecer class="desvanecer-contenido"></div>
    </div>
  </a>

  <div class="x-btn" (click)="enBotonXClick()">
    <button class="x-btn-style"><i class='bx bx-x'></i></button>
  </div>
  <div class="edit-btn">
    <button class="edit-btn-style"><i class='bx bxs-pencil'></i></button>
  </div>
</div>