
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    display: flex;
    padding: 20px;
}

.titulo h1 {
    margin: 0;
    color: #3a4c94;
    display:flex;
    padding-left:20px;
}

/* Estilos para la columna */
.col-6 {
    display: flex;
    align-items: center;
}


.col-btn {
    display: flex;
    gap: 10px;
    justify-content: end;

}

.boton1, .boton2 {
    padding: 8px 16px;
    background-color: #3a4c94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el segundo row y el rectángulo */
.rectangle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
} 

.rectangle {
    width: 50%;
    padding-top: 30px;
    width: 1200px;
    border-radius: 30px;
    height: 550px;
    background-color: #e4e9f7; 
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea la imagen a la derecha */
    margin-right: 30px;
}

.img-chica{
    display: flex;
    width:410px; /* 450px para mas grande */
    border-radius: 40px 40px 100px 40px;
}

.img-text{
margin-right: 240px;
font-size: 200%;
line-height: 2; /* Ajusta el espaciado vertical entre las líneas del texto */
-webkit-text-stroke: 1px #000000; /* Grosor y color del relleno */
}

.colored-word {
    color: #3a4c94; /* Cambia este color al que desees */
    -webkit-text-stroke: 1px #3a4c94;
}


.boton3{
    padding: 10px 20px;
    background-color: #3a4c94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    -webkit-text-stroke: #ffffff; /* Grosor y color del relleno */
}

/* ultima parte */

.flex-container {

    flex-direction: row;
    display: flex;
  }

.btn4{
    padding: 8px 16px;
    background-color: #3a4c94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}