<div class="container">
    <div class="row align-items-center" style="padding: 20px;">
            <div class="col-6">
              <div class="d-flex align-items-center">
                <img src="../../../../assets/Logo/logo-azul.png" class="me-2" alt="Logo" style="width: 50px;">
                <h1 style="color:#3a4c94 ;">Daily Task</h1> 
              </div>
            </div>
          
            <div class="col-6 text-end">
              <button class="boton1 me-2">Iniciar sesión</button> 
              <button class="boton2">Registrarse</button>
            </div>
    </div>

 <!-- segundo row -->
    <div class="row rectangle-row">
        <div class="rectangle">
            <div class="col">
                <div class="img-container">
                    <h1 class="img-text">Calidad, <span class="colored-word">Organización</span> <br> y lo que sea <br> necesario. <br>
                    <button class="boton3">Registrate Aquí</button> </h1>
                    <img class="img-chica" src="../../../../assets/minusarda.png" alt="">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- tercer row -->
    <div class="row">

  
    </div>
</div>
