<h1><u>Navigation provisorio</u></h1>
    
<p>
    Nota 2: No encuentro manera de redirigirme a la vista config usuario
    <br>
    <br>
    Nota 3: La información del navbar se superpone a la información de la pagina a la que nos redirigimos, por ejemplo, al ir a la pagina usuario, no se logra visualizar el parrafo "usuario works"
</p>
<nav>
    <ul>
        <li>
            <a href="/login">Login</a> 
        </li>
        <li>
            <a href="/registro">Registro</a> 
        </li>
        <br>
        <br>
        <li>
            <a href="/inicio">Inicio</a> 
        </li>
        <li>
            <a href="/calendario">Calendario</a> 
        </li>
        <li>
            <a href="/notas">Notas</a> 
        </li>
        <br>
        <br>
        <li>
            <a href="/usuario">Usuario</a> 
        </li>
        <li>
            <a href="http://localhost:4200/">Config usuario</a> 
        </li>
        
    </ul>
</nav>