<h1><u>Navigation definitivo</u></h1>
    

<nav>
    <ul>
        <li>
            <a href="/login">Login</a> 
        </li>
        <li>
            <a href="/registro">Registro</a> 
        </li>
        <br>
        <br>
        <li>
            <a href="/inicio">Inicio</a> 
        </li>
        <li>
            <a href="/calendario">Calendario</a> 
        </li>
        <li>
            <a href="/notas">Notas</a> 
        </li>
        <br>
        <br>
        <li>
            <a href="/usuario">Usuario</a> 
        </li>
        <li>
            <a href="http://localhost:4200/">Config usuario</a> 
        </li>
        
    </ul>
</nav>